:root {
    /* Colors */
    --background: #000000;
    --foreground: hsl(0, 0%, 80%);
    --foreground50: hsl(0, 0%, 30%);

    /* Typography */
    --font-family-base: "Courier New", Courier, monospace;
    --font-size-base: .95rem;
    --font-size-large: 1.5rem;
    --font-size-small: 0.75rem;

    /* Layout dimensions */
    --width-search: 30rem;

    /* Spacing system */
    --space-xxxs: 0.25rem;
    --space-xxs: 0.5rem;
    --space-xs: 1rem;
    --space-sm: 1.5rem;
    --space-md: 2rem;
    --space-lg: 2.5rem;
    --space-xl: 3rem;

    --space-gap: 0.5rem;
    --space-gap-md: 1rem;

    /* Borders & lines */
    --border-thin: 1px;

    /* Transitions */
    --transition: 0.3s ease-in-out;

}

* {
    box-sizing: border-box;
    color: var(--foreground);
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --------------------------------------- genral elements */
.icon-btn {
    border-radius: 100%;
    border: none;
    outline: none;
    width: var(--space-md);
    height: var(--space-md);
    max-width: var(--space-md);
    max-height: var(--space-md);
    background: transparent;
    opacity: .5;
    cursor: pointer;
    aspect-ratio: 1;
}

.icon-btn:has(svg) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-btn:focus-visible {
    outline: 2px solid var(--foreground50);
    opacity: 1 !important;
}

.icon-btn:hover {
    opacity: 1;
}

.icon-btn svg {
    width: var(--space-sm);
    height: var(--space-sm);
}

/* --------------------------------------- Search elements */
#search-container>div {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-bottom: var(--space-xxxs);
}

#search-container {
    max-width: var(--width-search);
    width: 90%;
    border-bottom: 1px solid var(--foreground50);
    position: relative;
}

#search-container::after {
    content: "";
    position: absolute;
    height: 1px;
    background: var(--foreground);
    width: 0;
    transition: width var(--transition);
}

#search-container:focus-within::after {
    width: 100%;
}

#search-btn {
    position: absolute;
    right: var(--space-xxxs);
    top: 45%;
    transform: translateY(-50%);
    pointer-events: none;
    opacity: 0;
    transition: opacity var(--transition);
}

#search-container:focus-within #search-btn {
    opacity: .5;
    pointer-events: unset;
}

#search-container>div input {
    background: transparent;
    outline: none;
    border: none;
    padding: var(--space-xxs);
    padding-right: var(--space-xl);
    width: 100%;
}

#suggestions-list {
    padding: 0;
    margin: 0;
}

/* --------------------------------------- Settings elements */
#settings-btn {
    position: fixed;
    bottom: var(--space-md);
    right: var(--space-md);
}

#settings-btn svg * {
    stroke: var(--foreground);
    fill: none;
}

#settings-btn svg {
    width: calc(var(--space-sm) - .16rem);
    height: calc(var(--space-sm) - .16rem);
}